{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "window": true,
    "document": true,
    "inject": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": "off",
    "react/require-default-props": 0,
    "@typescript-eslint/semi": 0,
    "react/jsx-one-expression-per-line": 0,
    "consistent-return": 0,
    "radix": 0,
    "@typescript-eslint/no-var-requires": 0,
    "operator-linebreak": 0,
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": {
          "minProperties": 4
        }
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  },
  "settings": {
    "node": {
      "extensions": [
        ".ts",
        ".tsx"
      ],
      "import/resolver": {
        "alias": {
          "extensions": [
            ".ts",
            ".tsx"
          ]
        }
      }  
    }
  }
}
