# client
yarn-debug.log*
yarn-error.log*
node_modules/
.yarn-integrity
dist
.next
logs/*.log

# config
.env
.env.*
docker-compose.yml

# workspace
vrp_tests
debug_files/*
crates/algorithms/src/**/plugins/**/*
!crates/algorithms/src/**/plugins/.gitkeep
target/

# misc
.idea/*
.DS_Store

# or-tools
or-tools/*
!or-tools/src
or-tools.tar.gz

# koji-wasm build output
crates/koji-wasm/pkg/

# docs
docs/public/_pagefind
bench-results/

