# client
yarn-debug.log*
yarn-error.log*
node_modules/
.yarn-integrity
dist

# config
.env
.env.*
docker-compose.yml

# server
server/target
vrp_tests
server/debug_files/*
server/algorithms/src/routing/tsp

# misc
.idea/*
.DS_Store
